.rightBar {
    display: flex;
    flex-direction: column;
  
    &__sidebar {
      padding: 1rem;
      border-radius: 5px;
      line-height: 1.5;
  
      img {
        width: 100%;
        height: auto;
        max-height: 100px;
        border-radius: 5px;
        display: inline-block;
        margin-bottom: 1rem;
      }
  
     
    }
  }

  

