
.grid-container3 {
    padding: 5px;
    
}

.bloque-1 {
    background-color: rgb(255, 255, 255);
    margin: black 5px;
    padding: 2%;
    border-radius: 10px;
    
}

.bloque-2{
   
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin: black 2px;
    padding: 5%;
}

.recuadro1 {
    
    padding: 2%; 
    margin: 10px;
    text-align: justify;
    

}